#This is the gitignore file for AREsoft
#this belongs to the ARE VM from the Honeynet Project
########################################################

#new try
#add all manually
#without android SDK
tools/android
*
.*




#TODO: This file does not work. a lot of subfolters 
#	will not be tracked.
#      If you want to add a file, you havt to force git to ignore this file. 


##Ignore everything
##**/*
##tools/*
##*.txt
#.*
#*

##But do not ignore ARE things
##Desktop/README.txt
#!Desktop/
#Desktop/*
#!Desktop/README.txt
##/home/android
#!Firefox_wallpaper.png
#!.gitignore
##tools
#!tools/
#!tools/*
#!tools/**/*
##graph
#!graph/
#!graph/*
#!graph/**/*
##deps
#!deps/
#!deps/*
#!deps/**/*
#!deps/**
#
#Android SDK are to big for a repo
#tools/android
#tools/android/*
#tools/android/**/*

